*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: #000;
  width: auto;
}
nav{
  top: 0;
  max-width:100%;
  height:70px;
  background-color:#2DAA9E;
}

/* Different Variants */


.container{ 
  width:80%;
  display: flex;
  margin: auto;
}
.container ul{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top:15px;
}

.containerForm {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  margin:5% auto;
}

h2 {
  font-weight: 600;
  margin-bottom: 15px;
}

h2 span {
  font-weight: bold;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
  font-size: 16px;
}

.input-field:focus {
  border-bottom: 2px solid #6a11cb;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #00c6ff, #6a11cb);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
}

.wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items:flex-start;
  width: 100%;
  margin: auto;
  max-width: 1400px;
  padding: 20px;
  gap:25px;
  background: rgba(255, 255, 255, 0.144);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.left, .right {
  margin-top:45px;
  flex: 1;
  /* background: rgba(255, 255, 255, 0.2); */
  background-color: #535252;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  min-height:500px;
}

.left {
  text-align: center;
}

.right {
  text-align: center;
}


